body {
	width: 100%;
	font-family: 'Manrope';
}

section {
	height: 650px;
  margin-bottom: 150px;
}

.container {
	margin: 0 auto;
	padding: 0 125px;
	max-width: 1400px;
}

.header {
	margin-top: 32.8px;
	margin-bottom: 70px;
	margin-left: 125px;
	display: flex;
	justify-content: space-between;
}

.navbar a {
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 60px;
	color: #121212;
}

.title {
	width: 956px;
	font-size: 60px;
  line-height: 60px;
	padding-bottom: 30px;
  letter-spacing: -1.8px;
}

.image {
	background-image: url(../resourses/design.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 1150px;
	height: 500px;
	color: white;
}

.image-text {
	width: 430px;
	font-size: 20px;
	letter-spacing: -0.6px;
	padding-top: 379px;
	padding-left: 40px;
}

.aside {
	width: 1051px;
	height: 518px;
	margin-left: 125px;
}

.title-information {
	font-size: 18px;
	padding-bottom: 30px;
  letter-spacing: -0.54px;
	text-transform: uppercase;
}

.text-information {
	width: 1048px;
	font-size: 45px;
	padding-bottom: 30px;
  letter-spacing: -1.35px;
}

.description a {
	color: white;
font-size: 20px;
letter-spacing: -0.6px;
text-decoration: none;
}

.link-info {
	padding: 20px 40px;
	display: inline-flex;
	background: var(--accent, #AD1818);
	border-radius: 5px;
}

a:hover {
	cursor: pointer;
}