body {
  width: 100%;
  font-family: "Manrope";
}

section {
  margin-bottom: 150px;
}

.container {
  margin: 0 auto;
  padding: 0 125px;
  max-width: 1400px;
}

.interiors__title {
  width: 956px;
  font-size: 60px;
  line-height: 60px;
  padding-bottom: 30px;
  letter-spacing: -1.8px;
}

.interiors__image {
  position: relative;
  background-image: url(../resourses/design.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1150px;
  height: 500px;
  color: white;
}

.interiors__image-text {
  position: absolute;
  width: 470px;
  font-size: 20px;
  letter-spacing: -0.6px;
  left: 40px;
  bottom: 40px;
}

.aside__title-information {
  font-size: 18px;
  padding-bottom: 30px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.aside__text-information {
  width: 1048px;
  font-size: 45px;
  padding-bottom: 30px;
  letter-spacing: -1.35px;
}

.description a {
  color: white;
  font-size: 20px;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.aside__link-info {
  padding: 20px 40px;
  display: inline-flex;
  background: #ad1818;
  border-radius: 5px;
}

a:hover {
  cursor: pointer;
}

.projects__title {
  font-size: 18px;
  letter-spacing: -0.54px;
  margin-bottom: 30px;
}

img {
  padding-bottom: 15px;
}

.projects__name {
  font-size: 30px;
  letter-spacing: -0.9px;
  padding-bottom: 15px;
}

.projects__more-information {
  font-size: 20px;
  letter-spacing: -0.6px;
  color: #ad1818;
  margin-bottom: 90px;
}

.link-info__projects {
  height: 153px;
  font-size: 30px;
  letter-spacing: -0.9px;
  padding: 56px 0;
  display: block;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ad1818;
}

a:hover {
  background-color: #ad1818;
  color: white;
}

.services {
  background-color: #121212;
}

.services__title {
  padding: 151px 0 34px 0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  color: white;
}

.service__price {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  padding-bottom: 60px;
  color: #fff;
}

.services__discount {
  padding-bottom: 125px;
}

/* .project__image {
  position: relative;
  background-image: url(../resourses/bedroom.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1400px;
  height: 717px;
}

.projects__text {
  position: absolute;
  width: 443px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -0.9px;
  bottom: 60px;
  left: 125px;
  color: #fff;
} */
